/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MavenPro', sans-serif; /* Apply Roboto font to all text */
}

@font-face {
    font-family: 'MavenPro';
    src: url('http://ahu.joshnewman6.com/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('http://ahu.joshnewman6.com/fonts/MavenPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: white;
}

/* Basic styling for header */
header {
    background-color: #06A77D;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 400px;
    position: relative; /* Add position relative */
}

/* Style for the header h1 */
header h1 {
    line-height: 400px;
    font-size: 52px;
}

/* Style for the article list */
main {
    text-align: center;
    padding: 20px;
}

li a {
    text-decoration: none;
}

/* Keep underlines for other links */
a {
    text-decoration: underline;
}

/* Style for each article button */
ul#articleList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CSS for the new header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #06A77D;
    color: #fff;
    padding: 0 20px;
}

.left-text {
    margin: 0;
    font-size: 16px; /* Adjust the font size as needed */
}

.right-links {
    display: flex;
    gap: 10px; /* Adjust the gap between the links as needed */
    margin-left: auto; /* Push the links to the right */
}

.right-links a {
    color: white;
    text-decoration: none;
    font-size: 14px; /* Adjust the font size as needed */
}



ul#articleList li {
    margin: 10px;
    padding: 10px;
    background-color: #06A77D;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    flex-basis: calc(33.33% - 20px);
    max-width: 350px;
}

button#centered-button {
    width: 380px;
    text-align: center;
    background-color: #06A77D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#centered-button a {
    color: inherit;
    text-decoration: none;
}

button#centered-button:hover {
    background-color: #0055AA;
}

#article-title-container,
#article-content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* styles.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
